cryptography
numpy
cdsapi
requests
geopandas
xarray
pyproj
appdirs
boto3
paramiko
shapely
ipyleaflet
sphinx_rtd_theme
pytest
appdirs
scipy
beautifulsoup4
lxml
netcdf4
hdf4
hdf5
pyarrow
pyhdf
h5py
cfgrib
